* {
  margin: 0px;
  padding: 0;
}
body {
  width: 100%;
  background-color: #03254c;
  color: white;
  font-family: "Poppins", sans-serif;
}
header{
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background-color: #0b4b83;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.left {
  font-size: 1.5rem;
}
.left img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: -7px 10px;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}
.leftSection {
  width: 30%;
  font-size: 1.5rem;
  margin: 34px 0;
  text-align: left;
}
.developer {
  border-radius: 35px;
  height: 450px;
  width: 450px;
  margin: 44px 0;
}
.right ul li:hover {
  text-decoration-line: underline;
}
nav ul li:hover {
  color: rgb(233, 233, 233);
  font-size: 1.2rem;
}
.purple {
  color: #d0efff;
}
.about-me {
  margin: 25px 0px;
}
.about-me a {
  color: white;
  text-decoration-line: none;
  border-style: solid;
  border-color: white;
  background-color: #0b4b83;
  border-radius: 5px;
  padding: 0 10px;
}
@media screen and (max-width: 900px) {
  .right ul li {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    min-width: 480px;
  }
}
@media screen and (max-width: 413px) { 
  /* For mobile */
  
  body {
    width: 100%;
    min-width: 413px;
    overflow: hidden;
    position: fixed;
  }
  .developer  {
    max-width: 375px;
    height: 375px;
    margin-left: 15px;
  }
  #element{
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 800px) {
   body header nav {
      flex-direction: column;
      height: 100px;
    }
  .firstSection {
    flex-direction: column;
  }
  .leftSection {
    width: 100%;
    display: grid;
    justify-content: center;
  }
  .p1 {
    text-align: center;
  }
  .about-me {
    text-align: center;
    margin: 16px;
  }
}

